{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello, and welcome to my blog!
        </p>
        <p>
          I'm Shahdad, a passionate software engineer and tech enthusiast currently studying at TED University in Ankara.
          I specialize in developing software solutions, exploring new technologies,
          and creating fun projects in Python and other programming languages.
        </p>
        <p>
          When I’m not coding or learning something new, you’ll find me working on innovative projects—whether it's building a cool web app,
          experimenting with machine learning, or sharing coding tips with the community.
        </p>
        <p>
          This blog is where I document my journey, share insights from my projects, and write about topics that excite me,
          from software development to the fascinating world of AI and machine learning.
        </p>
        <p>Feel free to explore, and I hope you find inspiration in what I share. Thanks for stopping by!</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
